
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-item {
  color: #fff;
  background-color: blueviolet;
  font-size: 120%;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #000;
}

/* this help us to define grids that might need to contain some fixed-size items but also share the rest of the space */
